<header id="header" class="bg-secondary overflow-hidden">
  <nav class="container flex justify-between mx-auto items-center py-6 px-4">
    <a class="text-xl md:text-3xl text-indigo-400 font-bold uppercase" href="#"
      >Clips
    </a>

    <div class="text-white text-sm md:text-base">
      <ul class="flex items-center mt-1 gap-x-5">
        <li class="relative">
          <a class="group" href="#" (click)="openModal($event)">
            <span
              class="absolute transition-all duration-300 -bottom-1 left-1/2 w-0 h-[2px] bg-red-400 group-hover:w-1/2"
            ></span>
            <span
              class="absolute transition-all duration-300 -bottom-1 right-1/2 w-0 h-[2px] bg-red-400 group-hover:w-1/2"
            ></span>
            Login / Register
          </a>
        </li>

        <li class="relative">
          <a class="group" href="#">
            <span
              class="absolute transition-all duration-300 -bottom-1 left-1/2 w-0 h-[2px] bg-red-400 group-hover:w-1/2"
            ></span>
            <span
              class="absolute transition-all duration-300 -bottom-1 right-1/2 w-0 h-[2px] bg-red-400 group-hover:w-1/2"
            ></span>
            Manage
          </a>
        </li>

        <li class="relative">
          <a class="group" href="#">
            <span
              class="absolute transition-all duration-300 -bottom-1 left-1/2 w-0 h-[2px] bg-red-400 group-hover:w-1/2"
            ></span>
            <span
              class="absolute transition-all duration-300 -bottom-1 right-1/2 w-0 h-[2px] bg-red-400 group-hover:w-1/2"
            ></span>
            Upload
          </a>
        </li>

        <li class="relative">
          <a class="group" href="#">
            <span
              class="absolute transition-all duration-300 -bottom-1 left-1/2 w-0 h-[2px] bg-red-400 group-hover:w-1/2"
            ></span>
            <span
              class="absolute transition-all duration-300 -bottom-1 right-1/2 w-0 h-[2px] bg-red-400 group-hover:w-1/2"
            ></span>
            logout
          </a>
        </li>

        <li class="relative">
          <a class="group" href="#">
            <span
              class="absolute transition-all duration-300 -bottom-1 left-1/2 w-0 h-[2px] bg-red-400 group-hover:w-1/2"
            ></span>
            <span
              class="absolute transition-all duration-300 -bottom-1 right-1/2 w-0 h-[2px] bg-red-400 group-hover:w-1/2"
            ></span>
            About
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<app-auth-modal></app-auth-modal>
