<div class="w-64 md:w-96">
  <app-alert *ngIf="showAlert" [color]="alertColor">
    <p>{{ alertMsg }}</p>
  </app-alert>
</div>

<form #loginForm="ngForm">
  <div class="w-64 md:w-96">
    <div class="relative mb-4 md:mb-7">
      <label
        for="email"
        class="absolute bg-transparent text-gray-200 opacity-70 top-[10px] left-3 text-xs transition-all duration-300 rounded-md px-1"
        [ngClass]="labelClass(credentials.email)"
        >Email</label
      >
      <input
        #email="ngModel"
        [(ngModel)]="credentials.email"
        required
        name="email"
        type="email"
        id="email"
        class="w-full block text-base text-gray-200 bg-transparent border border-gray-400 rounded px-3 py-[6px] focus:border-indigo-400 focus:outline-none"
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
      />
      <p class="text-red-400 text-sm" *ngIf="email.errors && email.dirty">
        Email is invalid.
      </p>
    </div>

    <div class="relative mb-4 md:mb-7">
      <label
        for="password"
        class="absolute bg-transparent text-gray-200 opacity-70 top-[10px] left-3 text-xs transition-all duration-300 rounded-md px-1"
        [ngClass]="labelClass(credentials.email)"
        >Password</label
      >
      <input
        #password="ngModel"
        [(ngModel)]="credentials.password"
        required
        name="password"
        type="password"
        id="password"
        class="w-full block text-base text-gray-200 bg-transparent border border-gray-400 rounded px-3 py-[6px] focus:border-indigo-400 focus:outline-none"
      />
      <p class="text-red-400 text-sm" *ngIf="password.errors && password.dirty">
        Email is required.
      </p>
    </div>
  </div>

  <button
    [disabled]="loginForm.invalid || inSubmission"
    type="submit"
    class="bg-indigo-400 text-white w-full py-2 rounded cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed mt-5 hover:shadow-lg hover:bg-indigo-500 hover:shadow-gray-400"
  >
    Login
  </button>
</form>
