<!-- Main Content -->
<section class="container mx-auto mt-24 my-8 p-6 bg-secondary">
  <div class="flex flex-col rounded relative">
    <h2 class="font-bold mb-6 text-3xl text-center">Upload Video</h2>

    <!-- Upload Dropbox -->
    <div
      class="py-40 px-10 border-dotted border-gray-400 rounded border cursor-pointer text-center hover:text-white hover:bg-indigo-400 hover:border-indigo-400 hover:border-solid text-xl transition-all duration-300 hover:shadow-lg hover:shadow-gray-400"
    >
      <span>Drop you're file here (mp4 only)!</span>
    </div>
    <input type="file" class="cursor-pointer mt-4" />

    <div>
      <!-- Form -->
      <form>
        <h3 class="text-center mb-4 text-xl">Select a Thumbnail</h3>

        <!-- Screenshots -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-3 mb-10">
          <div class="border-8 border-green-400 cursor-pointer">
            <img src="assets/img/1.jpg" />
          </div>
          <div class="border-8 border-green-400 cursor-pointer">
            <img src="assets/img/1.jpg" />
          </div>
          <div class="border-8 border-green-400 cursor-pointer">
            <img src="assets/img/1.jpg" />
          </div>
        </div>

        <!-- Title -->
        <div class="mt-4">
          <label class="block text-xl mb-1">Title</label>
          <app-input></app-input>
        </div>

        <div class="text-right mt-6">
          <button
            type="submit"
            class="inline-flex justify-center py-2 cursor-pointer px-4 border border-transparent shadow-sm rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none disabled:opacity-75"
          >
            Publish
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
